.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

proteus/build
gradle.properties
Proteus.iml
local.properties
proteus/proteus.iml
demo/demo.iml
demo/.gitignore
proteus/.gitignore
demo/build
build
.idea
gradle